{% extends "admin/change_list.html" %}

{# Original template renders object-tools only when has_add_permission is True. #}
{# This hack allows sub templates to add to object-tools #}
{% block object-tools %}
    <ul class="object-tools">
        {% block object-tools-items %}
            {% if has_add_permission %}
                {{ block.super }}
            {% endif %}
        {% endblock %}
    </ul>
{% endblock %}

{% block result_list %}
    {% if salary %}
        <table style="width:100%">
            <tr>
                <th align='left'>Итого</th>
                <th align='left'></th>
                <th style="text-align: right">ОКЛАД: {{ salary }}</th>
            </tr>
        </table>
    {% elif oklad %}
        <table style="width:100%">
            <tr>
                <th>Итого</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th style="text-align: right">ОКЛАД: {{ oklad }}</th>
                <th style="text-align: right">БОНУС: {{ bonus }}</th>
                <th style="text-align: right">ШТРАФ: {{ paid }}</th>
                <th style="text-align: right">ИТОГО: {{ itog }}</th>
                <th style="text-align: right">ВЫПЛАЧЕНО: {{ vplacheno }}</th>
                <th style="text-align: right">ОСТАТОК: {{ ostatok }}</th>
            </tr>
        </table>
    {% elif paid %}
        <table style="width:100%">
            <tr>
                <th align='left'>Итого</th>
                <th style="text-align: right">БОНУС: {{ bonus }}</th>
                <th style="text-align: right">ШТРАФ: {{ paid }}</th>
            </tr>
        </table>
    {% elif fine %}
        <table style="width:100%">
            <tr>
                <th align='left'>Итого</th>
                <th align='left'></th>
                <th style="text-align: right">ВЫПЛАЧЕНО: {{ fine }}</th>
            </tr>
        </table>
    {% endif %}
    {{ block.super }}
{% endblock %}