{% extends "admin/change_list.html" %}

{% block extrastyle %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {{ block.super }}
{% endblock %}
{% block object-tools %}
    <ul class="object-tools">
        {% block object-tools-items %}
            {% if user.is_authenticated %}
                <li>
                    <a href="#" class="btn btn-success create_button fa fa-eye-slash" id="hide" style="font-size:20px;
                    margin-right: 5px; margin-left: 5px"></a>
                </li>
                <li>Salom</li>
            {% endif %}
            {% if has_add_permission %}
                {{ block.super }}
            {% endif %}
        {% endblock %}
    </ul>
{% endblock %}

{% block result_list %}
    {% if salary %}
        <table style="width:100%">
            <tr>
                <th align='left'>Итого</th>
                <th align='left'></th>
                <th style="text-align: right">ОКЛАД: {{ salary }}</th>
            </tr>
        </table>
    {% elif oklad %}
        <table style="width:100%">
            <tr>
                <th>Итого</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th style="text-align: right">ОКЛАД: {{ oklad }}</th>
                <th style="text-align: right">БОНУС: {{ bonus }}</th>
                <th style="text-align: right">ШТРАФ: {{ paid }}</th>
                <th style="text-align: right">ИТОГО: {{ itog }}</th>
                <th style="text-align: right">ВЫПЛАЧЕНО: {{ vplacheno }}</th>
                <th style="text-align: right">ОСТАТОК: {{ ostatok }}</th>
            </tr>
        </table>
    {% elif paid %}
        <table style="width:100%">
            <tr>
                <th align='left'>Итого</th>
                <th style="text-align: right; padding: 0 0 0 500px">БОНУС: {{ bonus }}</th>
                <th style="text-align: right;padding: 0 0 0 0">ШТРАФ: {{ paid }}</th>
            </tr>
        </table>
    {% elif fine %}
        <table style="width:100%">
            <tr>
                <th align='left'>Итого</th>
                <th align='left'></th>
                <th style="text-align: right">ВЫПЛАЧЕНО: {{ fine }}</th>
            </tr>
        </table>
    {% endif %}
    <script>
        (function ($) {
            $(function () {
                $('#hide').on('click', function () {
                    $(this).toggleClass('fa fa-eye-slash')
                    $(this).toggleClass('fa fa-eye')
                    $(".field-oklad").toggleClass('hide-text')
                    $(".field-bonuss").toggleClass('hide-text')
                    $(".field-paid").toggleClass('hide-text')
                    $(".field-itog").toggleClass('hide-text')
                    $(".field-vplacheno").toggleClass('hide-text')
                    $(".field-waiting").toggleClass('hide-text')
                    $(".field-ostatok").toggleClass('hide-text')
                    $(".field-musk_salary").toggleClass('hide-text')
                    $(".field-musk_fine").toggleClass('hide-text')
                    $(".field-musk_bonus").toggleClass('hide-text')
                    $(".field-musk_paid").toggleClass('hide-text')
                });
            })
        })(django.jQuery);
    </script>

    <style>
        .field-oklad, .field-bonuss, .field-paid, .field-itog, .field-vplacheno, .field-waiting, .field-ostatok,
        .field-musk_salary, .field-musk_fine, .field-musk_bonus, .field-musk_paid{
            opacity: 0;
        }

        .hide-text {
            opacity: 1;
        }
    </style>
    {{ block.super }}
{% endblock %}
