.my_camera {
    justify-content: center;
    width: 410px;
    height: 320px;
    /*border: 1px solid black;*/
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.image_canvas {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80% !important;
    height: 480px;
}

@media (max-width: 1032px) {
    .image_block {
        flex-direction: column;
    }
}

.image_block {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

#canvas {
    /*border: 2px solid black;*/
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.user-select {
    padding: 0 0.75rem !important;
    height: 2.5rem !important;
    font-size: 20px;
}

.take-photo-button {
    margin-top: 15px;
}

.user-shop {
    margin: 15px 0;
}